@use "../breakpoints" as breakpoints;
@use "../variables" as *;

.brands_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  box-sizing: border-box; 
  width: 100%;
  .show_brands {
    display: flex;
    overflow: hidden;
    gap: 8px;

    div {
      animation: 70s slide infinite linear;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-dark;
      padding: 24px;
      width: 218px;
      height: 108px;
      border-radius: 24px;
      flex-shrink: 0;

      img {
        max-width: 218px;
        max-height: 108px;
        @include breakpoints.md {
          max-width: 163.5px;
          max-height: 81px;
        }
        @include breakpoints.sm {
          max-width: 109px;
          max-height: 54px;
        }
        @include breakpoints.xs {
          max-width: 54px;
          max-height: 27px;
        }
      }
      @include breakpoints.md {
        width: 163.5px;
        height: 81px;
        border-radius: 20px;
      }
      @include breakpoints.sm {
        width: 109px;
        height: 54px;
        border-radius: 16px;
      }
      @include breakpoints.xs {
        width: 54px;
        height: 27px;
        border-radius: 12px;
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-3600%);
  }
}
