@use "../../breakpoints" as breakpoints;
@use "../../variables" as *;

.about_cont {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;

  .inside_cont {
    padding: 0 64px;
    max-width: 1300px;

    @include breakpoints.md {
      padding: 0 32px;
    }
    @include breakpoints.sm {
      padding: 0 16px;
    }
  }

  @include breakpoints.sm {
    padding-top: 80px;
  }
}

.header1 {
  padding-top: 160px;
  font-family: SpaceGroteskBold;

  div {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0 80px;

    span {
      font-size: 32px;
      font-weight: 600;
      color: $mid-gray;

      @include breakpoints.lg {
        font-size: 24px;
      }
    }

    h1 {
      font-size: 44px;
      line-height: 52px;
      color: $white;
      font-weight: 500;

      @include breakpoints.lg {
        font-size: 32px;
        line-height: 40px;
      }
      @include breakpoints.sm {
        font-size: 28px;
        line-height: 36px;
      }
    }

    @include breakpoints.lg {
      padding: 0;
    }
  }

  @include breakpoints.sm {
    padding-top: 120px;
  }
  @include breakpoints.xs {
    padding-top: 100px;
  }
}

.header2 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 224px;

  h3 {
    font-size: 32px;
    color: $white;
    font-weight: 600;

    @include breakpoints.lg {
      font-size: 24px;
    }
  }

  @include breakpoints.lg {
    padding-top: 136px;
  }
}

.header3 {
  margin-top: 144px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 32px;

  @include breakpoints.lg {
    font-size: 24px;
  }
  @include breakpoints.md {
    font-size: 16px;
  }
  @include breakpoints.sm {
    font-size: 14px;
  }
  @include breakpoints.breakpoint(550px) {
    font-size: 12px;
  }
  @include breakpoints.breakpoint(450px) {
    font-size: 10px;
  }
  @include breakpoints.xs {
    font-size: 8px;
  }

  h3 {
    color: $white;

    span {
      font-weight: 600;
    }
  }
}
