@import "../../breakpoints.scss";
@import "../../variables.scss";

.outer_cont {
  display: flex;
  justify-content: center;
  max-width: 2000px;
  width: 100%;
  z-index: 2;
  padding: 120px 0 16px 0;
  background: radial-gradient(circle at 400px 20.52%, #380a7c, transparent 24%),
    radial-gradient(circle at 1500px 43.37%, #3c008b, transparent 30%),
    radial-gradient(circle at 50% 50%, #111112, #111112 100%);
  .main_cont {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0 64px;

    .inside_cont {
      position: relative;
      & .video {
        border-radius: 32px;
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
        @include sm {
          box-shadow: 0 20px 150px 1px #3c008b;
        }
      }
      .main_content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 36%;
        left: 5%;
        transform: translateY(-50%);
        h1 {
          color: $white;
          font-size: 56px;
          line-height: 56px;
          font-weight: 600;
          margin-bottom: 2px;
        }
        .show_words {
          margin: 30px 0 60px 0;
          display: flex;
          font-size: 21px;
          gap: 10px;
          .info_text {
            opacity: 0.75;
          }
          .words {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            position: relative;
            width: 160px;
            height: 35px;
            border-bottom: 1px solid $white;

            span {
              position: absolute;
              animation: words 15s linear infinite 0s;
              opacity: 0;

              &:nth-child(2) {
                animation-delay: 2.5s;
              }
              &:nth-child(3) {
                animation-delay: 5s;
              }
              &:nth-child(4) {
                animation-delay: 7.5s;
              }
              &:nth-child(5) {
                animation-delay: 10s;
              }
              &:nth-child(6) {
                animation-delay: 12.5s;
              }
              &:nth-child(7) {
                animation-delay: 15s;
              }
            }
          }
        }
        .green_btn {
          width: fit-content;
        }
      }
    }

    @include md {
      padding: 0 36px;
    }
    @include sm {
      padding: 0 16px;
    }
  }

  @include lg {
    background: radial-gradient(circle at 15% 20%, #3c008b, transparent 39%),
      radial-gradient(circle at 85.57% 43.37%, #3c008b, transparent 39%),
      radial-gradient(circle at 50% 50%, #111112, #111112 100%);
  }

  @include sm {
    background: transparent;
  }
}

@keyframes words {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(50px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  26% {
    opacity: 0;
  }
  30% {
    transform: translateY(-50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
